@import url('https://fonts.googleapis.com/css?family=Lateef');
/* @import url('https://fonts.googleapis.com/css?family=Jomhuria|Katibeh|Lalezar|Mirza|Amiri'); */

body {
    background: #ffeb3b;
}

.bigtext {
    text-align: center;
}

.word {
    font-family: 'Lateef', cursive;
    /* font-family: 'Amiri', cursive; */
    /* font-family: 'Lalezar', cursive; */
    /* font-family: 'Katibeh', cursive; */
    /* font-family: 'Jomhuria', cursive; */
    /* font-family: 'Mirza', cursive; */
    font-weight: 600;
}